* {
  box-sizing: border-box;
  background-color: #eee;
}

.intro {
  color: red;
}

.class1.class2 {
  color: blue;
}

.class1 .class2 {
  color: green;
}

#first-name {
  color: purple;
}

li {
  list-style: none;
}

p.intro {
  color: rgb(211, 70, 129);
}

div,
p {
  font-weight: bold;
}

div p {
  color: greenyellow;
  background-color: black;
}

div>p {
  color: pink;
  background-color: black;
}

p~ul {
  color: red;
  background-color: #fff;
}

a[target] {
  background: yellow;
}

a[target=_blank] {
  background: blue;
  color: #fff;
}

div[title~=flower] {
  background: red;
  color: #fff;
}

div[lang|=en] {
  background-color: darkgreen;
  color: #fff;
}

a[href^=https] {
  background-color: pink;
}

a[href$=".pdf"] {
  background-color: peachpuff;
}

a[href*=aaa] {
  background-color: tomato;
}